body.hmtl{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

H1{
    position: absolute;
    padding: 3PX;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #4fc908;
}

span{
    color: #1f8a09;    
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;    
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Open 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: #f0c330;
    transition: 0.5s;
}

img{
    width: 100%;
    margin-top: -16px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0p;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:url(imagem/Charming.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.contact-form{
    width: 85%;
    max-width: 600px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 8px;    
}

.form{
    border: 1px solid #a9a9a9;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 8px;
}

.contact-form h2{
    font-weight: 500;
    margin-top: 0px;
}

.form label{
    font-size: 13px;
    color: #000;
    display: block;
    text-align: left;
    text-transform: uppercase;
}

.form input, .form textarea{
    width: 100%;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    outline: none;
}

.button{
    width: 100%;
    display: inline-block;
    background-color: #95c44f;
    padding: 14px 0px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
    color: #fff;
}
